@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    /* color: white; */
}

html {
    scroll-behavior: smooth;
}


/* .top_nav {
    position: fixed;
} */

.MainHeader {
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: black;
    z-index: 3;
}

.p_name {
    display: flex;
    align-items: center;
}

.p_name img {
    height: 36px;
    width: auto;
}

.links ul {
    display: flex;
}

.links ul li {
    list-style: none;
    text-decoration: none;
}

.links ul li a {
    padding: 0 15px;
    color: white;
    text-decoration: none;
}

.links ul li :hover {
    text-decoration: underline;
    text-decoration-color: red;
}

.subbtn {
    border-radius: 21px;
    outline: none;
    background: #4e3f3f;
    padding: 1px;
}

.subbtn a {
    font-size: 17px;
    color: white;
    padding: 10px;
}

.cls {
    display: none;
}

.open {
    display: none;
}

.FrontContent {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: black;
}

.Headtitle {
    padding: 0 47px;
}

.Headtitle h3 {
    font-size: 50px;
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 58%, #f3a3a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b_info {
    margin: 0 70px;
    display: flex;
    justify-content: center;
    /* animation: headtitle 1s linear; */
}

.btn-grad {
    background-image: linear-gradient(to right, #FC354C 0%, #0a27bf 51%, #FC354C 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
    cursor: pointer;
    border: none;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

@keyframes headtitle {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.thead {
    animation: head 1s linear;
}

@keyframes head {
    0% {
        transform: translateY(-20px);
    }
}

.b_info p {
    font-size: 34px;
}

.pimg {
    height: 337px;
    width: auto;
    box-shadow: 0px 3px 42px #0ff;
}


/* @keyframes pimg {
    0% {
        transform: translateY(100px);
    }
} */

.techslider {
    background-color: #000;
    border-width: 1px 0px;
    border-color: hsla(0, 0%, 100%, 0.14) #000;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
}

.technology {
    margin: 0 315px;
    overflow: hidden;
    background-color: black;
}

.slide-img {
    justify-content: start;
    display: flex;
    animation: scroll 20s linear infinite;
}

.slide-img div img {
    height: 109px;
    width: auto;
    margin: 0 16px;
}

@keyframes scroll {
    0% {
        transform: translateX(750px);
    }
    100% {
        transform: translateX(-900px);
    }
}

.services {
    background-color: #000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicehead h1 {
    text-align: center;
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 58%, #f3a3a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
}

.service-card {
    display: flex;
    justify-content: center;
}

.sercard {
    border: 2px solid;
    border-image: linear-gradient( to bottom, #ce06d6, #f440a3 39%, #fdc7ca 67%, #6183f3) 1 100%;
    ;
    color: white;
    margin: 0px 10px;
    height: auto;
    width: 358px;
    background-color: #1f1f1f;
    transition: all 0.3s;
}

.cardcontent {
    padding: 45px;
    display: flex;
    flex-direction: column;
}

.cardcontent img {
    height: 78px;
    width: 78px;
}

.sercard:hover {
    transform: translateY(-10px);
}

.project {
    display: flex;
    justify-content: center;
    background-color: black;
    min-height: 100vh;
}

.webcontainer {
    display: flex;
    /* background: aqua; */
    margin: 0 133px;
}

.left-container {
    margin-right: 28px;
}

.web-card {
    border: 2px solid;
    border-image: linear-gradient( to bottom, #ce06d6, #f440a3 39%, #fdc7ca 67%, #6183f3) 1 100%;
    ;
    color: white;
    margin: 50px 0;
    display: flex;
    height: auto;
    width: 489px;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 12px;
    background: #1f1f1f;
    transition: all 0.5s;
    cursor: pointer;
}

.web-card h4 {
    font-size: 29px;
    text-align: center;
    /* text-decoration: underline; */
}

.webmg {
    margin: 20px 0;
    height: 254px;
    width: auto;
}

.projhead h1 {
    color: white;
    text-align: center;
    font-size: 35px;
}

.projhead h1 span {
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 100%, #f3a3a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.web-card:hover {
    transform: translateY(-20px);
}

.webcontainer {
    box-sizing: border-box;
}

#testimonials {
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.test_head {
    margin: 28px 0;
    font-size: 70px;
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 100%, #f3a3a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    border: 2px solid;
    border-image: linear-gradient( to bottom, #ce06d6, #f440a3 39%, #fdc7ca 67%, #6183f3) 1 100%;
    ;
    transition: 0.5s;
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: #1f1f1f;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: white;
}

.testimonial-box:hover {
    transform: translateY(-10px);
}

.aboutme {
    display: flex;
    min-height: 100vh;
    background-color: #000;
    justify-content: center;
    align-items: center;
    color: white;
}

.aboutcontainer {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutcontainer h2 span {
    background: linear-gradient(90deg, #bd10c3, #cd1590 29%, #d2177e 100%, #f3a3a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutcontainer h1 {
    font-size: 71px;
}

.aboutcontainer h2 {
    font-size: 61px;
}

.contactform {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
}

form {
    max-width: 420px;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #CC4949;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background: #CC6666;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: #CC4949;
}

.media {
    display: flex;
    width: 100%;
    justify-content: center;
}

.socialmedialinks {
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin: 0 40px;
}

.pages {
    margin: 0 12px;
}

.pages a {
    color: white;
}

@media (max-width:1080px) {
    .service-card {
        width: 100%;
    }
    .project {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:1116px) {
    .service-card {
        align-items: center;
        flex-direction: column;
    }
    .sercard {
        /* width: fit-content; */
        margin: 20px 0px;
    }
    .webcontainer {
        flex-direction: column;
    }
}

@media (max-width:1060px) {
    .left-container {
        margin: 0;
    }
    .testimonial-box {
        width: 45%;
        padding: 10px;
    }
    .web-card {
        width: 387px;
        padding: 0;
    }
    .b_info {
        flex-direction: column-reverse;
        align-items: center;
    }
    .Headtitle h3 {
        margin-top: 68px;
        width: 624px;
        text-align: center;
    }
    .Headtitle p {
        text-align: center;
    }
    .btn-grad {
        margin: 0 auto;
    }
    #menubar {
        z-index: 1;
        top: -300px;
        width: 100%;
        right: 0;
        display: block;
        background: #1f1f1f;
        position: absolute;
        transition: 0.5s;
    }
    .links ul li {
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 25px 0;
    }
    .cls {
        cursor: pointer;
        display: inline;
    }
    .open {
        height: 27px;
        cursor: pointer;
        display: none;
    }
    .media {
        flex-direction: column-reverse;
        align-items: center;
        margin: 40px;
    }
}

@media (max-width:500px) {
    .web-card {
        width: 329px;
        height: auto;
    }
    .webmg {
        height: 181px;
        width: auto;
    }
    .testimonial-box {
        width: 80%;
    }
}

@media (max-width:600px) {
    .Headtitle h3 {
        font-size: 25px;
    }
    .Headtitle p {
        font-size: 22px;
    }
    .servicehead h1 {
        font-size: 25px;
    }
    .test_head {
        font-size: 25px;
    }
    .aboutcontainer h1 {
        font-size: 25px;
    }
    .aboutcontainer h2 {
        font-size: 25px;
    }
}

@media (max-width:360px) {
    .sercard {
        width: 291px;
    }
    .web-card {
        width: 291px;
    }
}